<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>WEIGHT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>IDEAL BODY WEIGHT CALCULATOR</h1>
<form action="#" th:action="@{/weight}" th:object="${weight}" method="post">

    <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
        <div class="custom-control custom-radio custom-control-inline">
            <input checked type="radio" id="female" name="Female" class="custom-control-input" value="1" th:field="*{option}">
            <label class="custom-control-label" for="female">Female</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="male" name="Male" class="custom-control-input" value="2" th:field="*{option}">
            <label class="custom-control-label" for="male">Male</label>
        </div>
        </div>
    </div>

    <p>Height(cm): <input type="text" th:field="*{height}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<script>
    document.getElementById("female").setAttribute("checked","checked")
</script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>